h1 {
    font-size: 1.2em;
    margin-bottom: 0;
  }
  h3 {
    font-size: 2em;
    margin-top: 0;
    padding-top: 0;
  }
  nav h3 {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
  }
  nav h3:visited, h3:link {
    color: #334953;
  }
  nav h3:hover {
    color: #e5035a;
    background-color: #ffffff;
    border: #334953;
  }
  nav h3.active {
    color: #039be5;
  }